/*nuevo css*/
body {
    background-color: rgb(13, 14, 38) !important;
}
main {
    font-family: 'Roboto', sans-serif;
}
/* Inicio del editar navbar */
#navbar-color {
    background-color: gray;
    font-family: 'IBM Plex Sans', sans-serif;
}
.boton-hamburguesa {
    background-color: black !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.boton-hamburguesa i {
    color: #DEB522 !important;
}
.boton-hamburguesa:hover {
    background-color: rgb(3, 3, 3) !important;
    border: 3px solid rgb(80, 80, 80) !important
}
.boton-hamburguesa i:hover {
    color: #ffc800 !important;
}
/* Fin del editar navbar */
/*main*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    

}

.transform-img:hover{
    transform: scale(1.03);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.contenedor{
    /* background-color: aquamarine; */
    width: 200px;
    /* height: auto; */
    position: relative;
}
.contenedor img{
    position: absolute;
    top: 100px;
    width: 200px;
    border-radius: 100%;
    z-index: 1;
    position: relative;
}
.detalle{
    background-color:white;
    width: 200px;
    height: auto;
    /* position: absolute; */
    /* top: 100px; */
    /* z-index: 16; */
    border-radius: 0 0 35px 35px;
    padding: 120px 15px 15px 15px;
}

/* anterior nosotros */
.Acercadenosotros {
    margin-top: 80px;
    padding:0px 50px; 
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: gray !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(5, 5, 5) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* fin footer */