/*nuevo css*/
body {
    background-color: rgb(13, 14, 38) !important;
}
main {
    font-family: 'Roboto', sans-serif;
}
/* Inicio del editar navbar */
#navbar-color {
    background-color: gray;
    font-family: 'IBM Plex Sans', sans-serif;
}
.boton-hamburguesa {
    background-color: black !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.boton-hamburguesa i {
    color: #DEB522 !important;
}
.boton-hamburguesa:hover {
    background-color: rgb(3, 3, 3) !important;
    border: 3px solid rgb(80, 80, 80) !important
}
.boton-hamburguesa i:hover {
    color: #ffc800 !important;
}
/* Fin del editar navbar */
/*main*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    

}

.Acercadenosotros {
    margin-top: 20px;
    padding:50px 50px 10px; 
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Acercadenosotros h2 {
    margin-left: 4em;
    font-size: 2em;
    text-align: center;
}

.Acercadenosotros .h4 {
    font-size: 1em;
    text-justify: auto;
    text-align: center;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #ffffff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 5px;


}

.container .card:hover {
    height: 520px;
}

.container .card .imgcard {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 5px;
    z-index: 1;



}

.container .card .imgcard img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;

}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;

}


@media (max-width:720px) {
    .container
     {
        flex-direction: column;
    }
    .Acercadenosotros h4
    {
        text-transform: uppercase;
    }
    .Acercadenosotros h2
    {
        margin-left: 2em;
        text-justify:auto;
    }
}

/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: gray !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(5, 5, 5) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* fin footer */