/* Color de fondo del body a negro */
body {
    background-color: rgb(35, 32, 39) !important;
}
/* Cambiar tipo de letra solo en main */
main {
    font-family: 'Roboto', sans-serif;
}

.boton-principal {
    background-color: #f3f2ed !important;
    font: bold;
}

/* Inicio del editar navbar */
#navbar-color {
    background-color: gray;
    font-family: 'IBM Plex Sans', sans-serif;
}
.ham-toggler {
    background-color: white !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.ham-toggler:hover {
    background-color: rgb(175, 174, 189) !important;
    border: 3px solid rgb(80, 80, 80) !important
}

/* Fin del editar navbar */

/* Inicio de editar boton "Pochocleros" */
#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}
@media only screen and (max-width: 330px) {
    #pochocleros {
        display: none;
    }
}
/* Fin de editar boton "Pochocleros" */

.boton-principal:hover {
    border: 2px solid black !important;
    color: rgb(20, 20, 20) !important;  
}

/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: gray !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(5, 5, 5) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* fin footer */

@media only screen and (min-width: 1918px) {
    .noticias img {
        height: 100% !important;
    }
    .noticias p {
        font-size: 15px;
    }
    .noticias h6 {
        font-size: 25px;
    }  
}
