/* Color de fondo del body a negro */
body {
    background-color: rgb(13, 14, 38) !important;
}
/* Cambiar tipo de letra solo en main */
main {
    font-family: 'Roboto', sans-serif;
}
header {
    padding-top: 7rem !important;
}

/* Inicio del editar navbar */
#navbar-color {
    background-color: gray;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: larger;
}
.ham-toggler {
    background-color: white !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.ham-toggler:hover {
    background-color: rgb(175, 174, 189) !important;
    border: 3px solid rgb(80, 80, 80) !important
}

/* Fin del editar navbar */

/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: gray !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
    font-size: larger;
}
.hover-links a {
    color: white !important;
    font-size: larger;
}
.hover-links a:hover {
    color: black !important;
    font-size: larger;
}
/* fin footer */