
body {
  background-color: rgb(13, 14, 38) !important;
}
/* Cambiar tipo de letra solo en main */
main {
  font-family: 'Roboto', sans-serif;
}
header {
  padding-top: 7rem !important;
}

h5 {
  font-size: medium !important; 
}

.img-top{
  width: 100% !important;
  height: 25rem !important;
}

/* Inicio del editar navbar */
#navbar-color {
  background-color: gray;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: medium !important;
}
#ham-btn{
  border: none;
  margin: 0;
  padding: 0;
  width: 31px;
  height: 31px;
}
.img-text {
  font-size: medium !important;
}
.img-btn {
  font-size: medium !important;
  justify-content: center;
}


/* Edición del color de fondo del body */

.userTable {
  margin-top: 50px;
}

.modal-header{

	background-color:gray;
	border:0px;
	height:30px;
}
.modal-body{
  background-color: black;
}
.modal-footer{
  background-color: black;
  border-top: 0px;
}
input{
  background-color: gray;
}

.table td{
  align-items: center;
  justify-content: center;
  align-content: center;
}
.btn{
  width: 100px;
  margin: 5px;
}

#checkbox{
  position: relative;

  width: 120px;
  height: 70px;
  
  border-radius: 75px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#checkbox input{
  appearance: none;
}
#checkbox span{
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  background: url(/img/1664166406711.png);
  background-size: auto 80px;
  background-repeat: no-repeat;
  transition: 1s;
  
  transform-origin: 75px;
}
#checkbox input:checked ~ span{
  left: 70px;
  background: url(/img/1664166493487.png);
  background-size: auto 80px;
  background-repeat: no-repeat;
  
}

/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: gray !important;
}

.copyright {
    background-color: black !important;
    font-size: large;
}
.hover-links a {
    color: white !important;
    font-size: medium;
}
.hover-links a:hover {
    color: black !important;
    font-size: medium;
}
/* fin footer */

