/* Edición del color de fondo del body */
body {
 
  
  ;
}
.userTable {
  margin-top: 100px;
}
.table td{
  align-items: center;
  justify-content: center;
  align-content: center;

}

nav{
  background-color: gray;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: medium !important;
}
.btn{
  width: 100px;
  margin: 5px;
}
.modal-header{

	background-color:gray;
	border:0px;
	height:30px;
}
.modal-body{
  background-color: black;
}
.modal-footer{
  background-color: black;
  border-top: 0px;
}
input{background: gray;}

@media (min-width 720px){
.publicado{
  display: none;
}
}
