



/*nuevo css*/
body {
    background-color: rgb(35, 32, 39) !important;
}
main {
    font-family: 'Roboto', sans-serif;
}
/* Inicio del editar navbar */
#navbar-color {
    background-color: gray;
    font-family: 'IBM Plex Sans', sans-serif;
}
.boton-hamburguesa {
    background-color: black !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.boton-hamburguesa i {
    color: #DEB522 !important;
}
.boton-hamburguesa:hover {
    background-color: rgb(3, 3, 3) !important;
    border: 3px solid rgb(80, 80, 80) !important
}
.boton-hamburguesa i:hover {
    color: #ffc800 !important;
}
/* Fin del editar navbar */
/*main*/


/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: gray !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(5, 5, 5) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* fin footer */