/* Edición del color de fondo del body */
body {
    background-color: rgb(8, 8, 8) !important;
}

/* Inicio de edición del main */
main {
    background-image: url(https://images.alphacoders.com/100/thumb-1920-1005214.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    padding-bottom: 1.2% !important
}
/* Fin de edición del main */

/* Inicio de modificar modal suscripción*/
.modificar-modal{
    background-color: rgba(8, 8, 8, 0.904) !important;
}
.modificar-modal input {
    background-color: rgba(8, 8, 8, 0.904) !important;
    color: rgb(194, 190, 190) !important;
}

.modificar-modal>.modal-body button, .modificar-modal>.modal-footer button {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
/* Fin de modificar modal suscripción*/

/* Inicio de la modificación de color y fuente de letra del navbar, y el boton hamburguesa */
#navbar-color {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}
.boton-hamburguesa {
    background-color: black !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.boton-hamburguesa i {
    color: #DEB522 !important;
}
.boton-hamburguesa:hover {
    background-color: rgb(3, 3, 3) !important;
    border: 3px solid rgb(80, 80, 80) !important
}
.boton-hamburguesa i:hover {
    color: #ffc800 !important;
}
/* Fin de la modificación de color y fuente de letra del navbar */

/* Inicio de la modificación del color, tipo y tamaño de letra del boton "POCHOCLEROS" */
#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}

/* Inicio del editar boton "POCHOCLERO" */
#suscripcion-boton {
    border: 3px solid black !important;
    color: black !important;
    background-color: #c0a131 !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 900 !important;
    border-radius: 25%;
}
#suscripcion-boton:hover {
    border: 3px solid rgb(34, 34, 34) !important;
    color: rgb(34, 34, 34) !important;
    background-color: #dec222 !important;
}
/* Fin del editar boton "SUSCRIPCIÓN" */

/* Quitar boton "POCHOCLEROS" cuando el ancho sea menor a 330px */
@media only screen and (max-width: 330px) {
    #pochocleros {
        display: none;
    }
}
/* Fin de la modificación del color, tipo y tamaño de letra del boton "POCHOCLEROS" */

/* Inicio de editar el div que contiene el form e iframe */
#principal-contacto {
    background-color: rgba(7, 6, 12, 0.856);
    width: 80%;
    height: 90%;
    border-radius: 10px;
}
/* Inicio de editar el div que contiene el form e iframe */

/* Inicio de cambiar color de letra, color de fondo y bordear las inputs y textarea */
form>div>input, form>div>textarea {
    background-color: rgba(0, 0, 0, 0.37) !important;
    border-radius: 10px !important;
    color: white !important;
}
/* Fin de cambiar color de letra, color de fondo y bordear las inputs y textarea */

/* Inicio de editar tamaño y borders del logo y mapa */
.logo>img {
    width: 50%;
    height: 96%;
}

.mapa>iframe {
    border-radius: 20px;
}
/* Fin de editar tamaño y borders del logo y mapa */

/* Inicio de editar el boton de enviar del form */
.boton-enviar {
    border: 3px solid black !important;
    color: black !important;
    background-color: #DEB522 !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 900 !important;
}
.boton-enviar:hover {
    border: 3px solid rgb(53, 53, 53) !important;
    color: rgb(53, 53, 53) !important;
    background-color: #be9f2b !important;
}
/* Inicio de editar el boton de enviar del form */

/* Inicio de editar footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(134, 134, 134) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* Fin de editar footer */

/* Inicio de media queries para ajustar el padding del div central en función del tamaño del dispositivo */
@media only screen and (min-width: 1918px) {
    main {
        padding-top: 5% !important;
        padding-bottom: 0.7% !important;
    }
}
@media only screen and (max-width: 1367px) {
    main {
        padding-top: 7% !important;
        padding-bottom: 0.7% !important;
    }
}
@media only screen and (max-width: 1300px) {
    main {
        padding-top: 8.5% !important;
    }
}
@media only screen and (max-width: 1100px) {
    main {
        padding-top: 8.5% !important;
    }
}
@media only screen and (max-width: 1050px) {
    main {
        padding-top: 9% !important;
    }
}
@media only screen and (max-width: 1000px) {
    main {
        padding-top: 10% !important;
    }
    main>div {
        padding: 0% !important;
    }
}
@media only screen and (max-width: 900px) {
    main {
        padding-top: 11% !important;
    }
}
@media only screen and (max-width: 800px) {
    main {
        padding-top: 12% !important;
    }
}
@media only screen and (max-width: 767px) {
    #contenido-contacto {
        padding-left: 0.3% !important;
        padding-right: 0.3% !important;
    }
    .logo>img {
        display: none;
    }
    .mapa>iframe {
        height: 100% !important;
    }
}
@media only screen and (max-width: 700px) {
    main {
        padding-top: 14% !important;
    }
}
@media only screen and (max-width: 635px) {
    main {
        padding-top: 15% !important;
    }
}
@media only screen and (max-width: 600px) {
    main {
        padding-top: 16% !important;
    }
}
@media only screen and (max-width: 550px) {
    main {
        padding-top: 18% !important;
    }
}
@media only screen and (max-width: 500px) {
    main>div {
        padding: 0% !important;
        padding-top: 1% !important;
    }
    #contenido-contacto, #principal-contacto {
        width: 95% !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}
@media only screen and (max-width: 450px) {
    main {
        padding-top: 20% !important;
    }
}
@media only screen and (max-width: 430px) {
    main {
        padding-top: 22% !important;
    }
}
@media only screen and (max-width: 400px) {
    main {
        padding-top: 24% !important;
    }
}
@media only screen and (max-width: 380px) {
    main {
        padding-top: 27% !important;
    }
}
@media only screen and (max-width: 321px) {
    main {
        padding-top: 46% !important;
    }
}
@media only screen and (max-width: 292px) {
    main {
        padding-top: 49% !important;
    }
}
@media only screen and (max-width: 275px) {
    main {
        padding-top: 52% !important;
    }
}
@media only screen and (max-width: 265px) {
    main {
        padding-top: 70% !important;
    }
}
/* Fin de media queries para ajustar el padding del div central en función del tamaño del dispositivo */
