/* Agregar imgagen de fonod a main */
main {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/254/680/non_2x/cinema-background-concept-vector.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100vh;
}

/* Inicio de modificar modal suscripción*/
.modificar-modal{
    background-color: rgba(8, 8, 8, 0.904) !important;
}
.modificar-modal input {
    background-color: rgba(8, 8, 8, 0.904) !important;
    color: rgb(194, 190, 190) !important;
}

.modificar-modal>.modal-body button, .modificar-modal>.modal-footer button {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
/* Fin de modificar modal suscripción*/

/* Inicio del editar boton "POCHOCLERO" */
#suscripcion-boton {
    border: 3px solid black !important;
    color: black !important;
    background-color: #c0a131 !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 900 !important;
    border-radius: 25%;
}
#suscripcion-boton:hover {
    border: 3px solid rgb(34, 34, 34) !important;
    color: rgb(34, 34, 34) !important;
    background-color: #dec222 !important;
}
/* Fin del editar boton "SUSCRIPCIÓN" */

/* Inicio de editar contenido en navbar */
#navbar-color {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: black !important;
}
.boton-hamburguesa {
    background-color: black !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.boton-hamburguesa i {
    color: #DEB522 !important;
}
.boton-hamburguesa:hover {
    background-color: rgb(3, 3, 3) !important;
    border: 3px solid rgb(80, 80, 80) !important
}
.boton-hamburguesa i:hover {
    color: #ffc800 !important;
}
/* Fin de editar contenido en navbar */

/* Inicio de editar boton "POCHOCLEROS" */
#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}
@media only screen and (max-width: 330px) {
    #pochocleros {
        display: none;
    }
}
/* Fin de editar boton "POCHOCLEROS" */

.contenedor-principal {
    background-color: rgba(0, 0, 0, 0.808);
}

/* Inicio de editar modales de integrantes */
.modal-imagen {
    background-color: rgba(41, 41, 41, 0.432) !important;
}

.boton-modal:hover {
    background-color:#DEB522 !important;
}

.foto-modal {
    border-radius: 20px;
}

.boton-modal {
    background-color: rgb(156, 156, 156) !important;
}
/* Fin de editar modales de integrantes */

#reseñas>div>input, #reseñas>div>textarea {
    background-color: rgba(255, 255, 255, 0.233);
}

.boton-modal>button {
    height: 70%;
    width: 80%;
}

@media only screen and (max-width: 991px) {
    .foto-modal {
        width: 85%;
    }
}

/* inicio footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(134, 134, 134) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* fin footer */
