/* Modificar color del body */
body {
    background-color: rgb(8, 8, 8) !important;
}

/* Inicio de modificar modal suscripción*/
.modificar-modal{
    background-color: rgba(8, 8, 8, 0.904) !important;
}
.modificar-modal input {
    background-color: rgba(8, 8, 8, 0.904) !important;
    color: rgb(194, 190, 190) !important;
}

.modificar-modal>.modal-body button, .modificar-modal>.modal-footer button {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
/* Fin de modificar modal suscripción*/

/* Inicio de la modificacion del fondo y tamaño de main */
main {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/254/680/non_2x/cinema-background-concept-vector.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
}
/* Fin de la modificacion del fondo y tamaño de main */

/* Editar color y tipo de letra del navbar */
#navbar-color {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}
.boton-hamburguesa {
    background-color: black !important;
    border: 3px solid rgb(53, 53, 53) !important
}
.boton-hamburguesa i {
    color: #DEB522 !important;
}
.boton-hamburguesa:hover {
    background-color: rgb(3, 3, 3) !important;
    border: 3px solid rgb(80, 80, 80) !important
}
.boton-hamburguesa i:hover {
    color: #ffc800 !important;
}

/* Inicio del editar boton "POCHOCLERO" */
#suscripcion-boton {
    border: 3px solid black !important;
    color: black !important;
    background-color: #c0a131 !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 900 !important;
    border-radius: 25%;
}
#suscripcion-boton:hover {
    border: 3px solid rgb(34, 34, 34) !important;
    color: rgb(34, 34, 34) !important;
    background-color: #dec222 !important;
}
/* Fin del editar boton "SUSCRIPCIÓN" */

/* Inicio del editar color de fondo y letra, tamaño y tipo de fuente del boton "POCHOCLEROS" */
#pochocleros {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}
#pochocleros:hover {
    border: 3px solid rgb(34, 34, 34);
    color: rgb(34, 34, 34);
}
@media only screen and (max-width: 330px) {
    #pochocleros {
        display: none;
    }
}
/* Fin del editar color de fondo y letra, tamaño y tipo de fuente del boton "POCHOCLEROS" */

/* Inicio del editar color de fondo, tamaño y borders del div general */
#login-contenido {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(7, 6, 12, 0.856);
    height: 600px;
}

#principal {
    padding-top: 7% !important;
    padding-bottom: 1% !important;
}
/* Fin del editar color de fondo, tamaño y borders del div general */

/* Inicio editar footer */
footer {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(8, 8, 8) !important;
}

@media only screen and (max-width: 767px) {
    #redes, #info-footer {
        padding-left: 10% !important;
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 575px) {
    #redes, #info-footer {
        padding-left: 9% !important;
    }
}
.copyright {
    background-color: black !important;
}
.hover-links a {
    color: rgb(134, 134, 134) !important;
}
.hover-links a:hover {
    color: white !important;
}
/* Fin de editar footer */

.form-iniciar-sesion input {
    background-color: rgba(8, 8, 8, 0.904) !important;
    color: rgb(194, 190, 190) !important;
}

/* Inicio de modificar modal */

.modificar-modal{
    background-color: rgba(8, 8, 8, 0.904) !important;
}
.modificar-modal input {
    background-color: rgba(8, 8, 8, 0.904) !important;
    color: rgb(194, 190, 190) !important;
}

.modificar-modal>.modal-body button, .modificar-modal>.modal-footer button {
    border: 3px solid black;
    color: black;
    background-color: #DEB522;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900 !important;
}

/* Fin de modificar modal */

/* Inicio del editar opción de olvide contraseña */
#olvidado {
    color: white;
    text-decoration: none;
}
#olvidado:hover{
    color: #DEB522;
}
/* Fin del editar opción de olvide contraseña */

/* Inicio del editar boton de login */
.boton-login {
    border: 3px solid black !important;
    color: black !important;
    background-color: #DEB522 !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-weight: 900 !important;
}
.boton-login:hover {
    border: 3px solid rgb(53, 53, 53) !important;
    color: rgb(53, 53, 53) !important;
    background-color: #be9f2b !important;
}

.login-alterno {
    text-decoration: none;
    color: white;
}
.boton-login-alterno {
    width: 50px;
}
.boton2-login-alterno {
    width: 53px;
}
/* Fin del editar boton de login */

#img-derecha {
    border-radius: 20px;
}

/* Inicio de media queries para adaptar el padding, dimensiones del div general a la pantalla del dispositivo */
@media only screen and (min-width: 1918px) {
    #principal {
        padding-top: 5% !important;
    }
    .form-check-input {
        height: 25px !important;
        width: 25px !important;
        margin-right: 2%;
    }

}
@media only screen and (max-width: 1200px) {
    main {
        padding-top: 2% !important;
    }
}
@media only screen and (max-width: 1050px) {
    main {
        padding-top: 2% !important;
    }
}
@media only screen and (max-width: 1000px) {
    main {
        padding-top: 3% !important;
    }
}
@media only screen and (max-width: 900px) {
    main {
        padding-top: 4% !important;
    }
}
@media only screen and (max-width: 800px) {
    main {
        padding-top: 7% !important;
    }
}
@media only screen and (max-width: 700px) {
    main {
        padding-top: 8% !important;
    }
}
@media only screen and (max-width: 600px) {
    main {
        padding-top: 9% !important;
    }
}
@media only screen and (max-width: 500px) {
    main {
        padding-top: 13% !important;
    }
}
@media only screen and (max-width: 430px) {
    main {
        padding-top: 16% !important;
    }
}
@media only screen and (max-width: 400px) {
    main {
        padding-top: 17% !important;
    }
}
@media only screen and (max-width: 380px) {
    main {
        padding-top: 19% !important;
    }
}
@media only screen and (max-width: 321px) {
    main {
        padding-top: 37% !important;
    }
}
@media only screen and (max-width: 292px) {
    main {
        padding-top: 43% !important;
    }
}
@media only screen and (max-width: 275px) {
    main {
        padding-top: 45% !important;
    }
}
@media only screen and (max-width: 265px) {
    main {
        padding-top: 60% !important;
    }
}


@media only screen and (min-width: 1400px) {
    #login-contenido {
        height: 850px;
    }

    label {
        font-size: 25px;
    }
    input {
        height: 55px;
    }

    form>button {
        height: 55px;
        width: 150px;
    }

    span {
        font-size: 30px;
    }

    #olvidado, #registrar, #c {
        font-size: 30px;
    }

    .boton-login-alterno {
        width: 70px;
    }
    .boton2-login-alterno {
        width: 73px;
    }
}

#registrar{
    text-decoration: none;
}

@media only screen and (max-width: 286) {    
    #todo-login {
        height: 0px !important;
    }
}

@media only screen and (max-width: 340px) {
    main {
        height: auto;
    }

    #principal {
        height: auto;
    }

    #c {
        margin-bottom: 0px;
    }

    #login-contenido {
        height: auto;
    }

    #todo-login {
        height: 640px;
    }

    .titulo-entrada {
        padding: 0px !important;
    }
}

@media only screen and (max-width: 450px) {
    #login-contenido {
        width: 85%;
        display: flex;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 451px) {
    #login-contenido {
        width: 450px;
        display: flex;
        justify-content: center;
    }
    
}

@media only screen and (min-width: 520px) {
    #login-contenido {
        width: 500px;
        display: flex;
        justify-content: center;
    } 
}

@media only screen and (min-width: 600px) {
    #login-contenido {
        width: 570px;
        display: flex;
        justify-content: center;
    } 
}

@media only screen and (min-width: 670px) {
    #login-contenido {
        width: 620px;
        display: flex;
        justify-content: center;
    } 
}


@media only screen and (max-width: 767px) {
    .div-img {
        display: none;
        width: 0% !important;
    }
    #img-derecha {
        padding: 0% !important;
    }
}

@media only screen and (min-width: 768px) {
    #login-contenido {
        width: 730px;
        display: flex;
        justify-content: center;
    } 
}

@media only screen and (min-width: 820px) {
    #login-contenido {
        min-width: 90%;
        display: flex;
        justify-content: center;
    } 
}

@media only screen and (min-width: 1000px) {
    #login-contenido {
        min-width: 80%;
        display: flex;
        justify-content: center;
    } 
}

@media only screen and (min-width: 1200px) {
    #login-contenido {
        min-width: 68%;
        display: flex;
        justify-content: center;
    } 
}

@media only screen and (min-width: 1400px) {
    #login-contenido {
        max-width: 30%;
        display: flex;
        justify-content: center;
    } 
}
/* Fin de media queries para adaptar el padding, dimensiones del div general a la pantalla del dispositivo */
